MONGO_DB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

MLFLOW_TRACKING_URI=https://dagshub.com/sameer/networksecurity.mlflow
MLFLOW_TRACKING_USERNAME=sameer
MLFLOW_TRACKING_PASSWORD=your_dagshub_token_here
